.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  padding-top: calc(16px + env(safe-area-inset-top));
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  background: linear-gradient(to bottom, var(--bg-color), transparent);
  view-transition-name: header;
  gap: 8px;
  z-index: 10;
}

.header-button.header-right {
  margin-left: auto;
}

.header-button {
  all: unset;
  pointer-events: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--bg-secondary-color);
  color: var(--text-strong-color);
  cursor: pointer;
  transition:
    transform 0.4s cubic-bezier(0.34, 1.56, 0.64, 1),
    opacity 0.2s;
  -webkit-tap-highlight-color: transparent;
}

@media (hover: hover) {
  .header-button:hover {
    filter: brightness(0.8);
  }
}

.header-button:active {
  transform: scale(1.32);
  filter: brightness(5);
}

.header-button-primary {
  color: var(--main-color);
}