html {
    font-family:
        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol";

    font-size: 18px;

    color: var(--text-color);
    background-color: var(--bg-color);
    caret-color: var(--main-color);
}

.monospace {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

h1 {
    font-size: 2.058rem;
    font-weight: 500;
}

h2 {
    font-size: 1.618rem;
    font-weight: 500;
}

h3 {
    font-size: 1.272rem;
    font-weight: 500;
}